@charset "utf-8";
/* kid.css */

body {
	font-family: georgia;
	
}
div.wrapper {
	background-color:#FFFFFF;
	max-width: 1220px;
	margin: 0 auto;
	
}
.menu{
	 width:100%;
	 height:auto;
	 margin:20px 0 0 0;
	 }
	 .menuc
	{
		width:180px;
		float:left;
		text-decoration:none;
		color:#000000;
		margin:0 10px 0 10px;
	}
	.menuc a
	{
		width:160px;
		float:left;
		text-decoration:none;
		color:#000000;
		margin:0 10px 0 10px;
	}
	.menuc a:hover
	{
		width:160px;
		float:left;
		text-decoration:none;
		color:#F71361;
		margin:0 10px 0 10px;
	}
#container{
	width:400px;
	margin:30px 0 0 0;
	float:left;
	}
#img{
	background:url(gulab.jpg) no-repeat;
	width:245px;
	height:300px;
	float:left;
	padding:30px 0 0 0;
}
#cmenu
{
	float:left;
	width:100px;
	height:auto;
}

.cmenul a
{
	font-size:14px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-decoration:none;
	color:#000000;
	float:left;
	width:100px;
	height:35px;
	margin:10px 0 10px 0;
	text-align:center;
}
.cmenul a:hover
{
	font-size:14px;
	float:left;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-decoration:none;
	font-weight:lighter;
	width:100px;
	color:#700CD0;
	}
	
#containerAd{
	float:right;
	width:550px;
	margin:30px 0 0 0;
    }
 
 #imgG{
	background:url(kidgirl.jpg) no-repeat;
	width:245px;
	height:300px;
	float:left;
	padding:30px 0 0 0;
 }
header {
	background:url(banner.jpg) no-repeat;
	width:980px;
	height:422px;
	margin:0 auto;
}
#adcmenu
{
	float:left;
	width:100px;
	height:auto;
}

.adcmenul a
{
	font-size:14px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-decoration:none;
	color:#000000;
	float:left;
	width:100px;
	height:42px;
	margin:10px 0 10px 0;
	text-align:center;
}
.adcmenul a:hover
{
	font-size:14px;
	float:left;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-decoration:none;
	font-weight:lighter;
	width:100px;
	color:#700CD0;
	}

 footer {
	 clear:both;
	 margin:20px 0 0 0;
 }
 
 footer h3 {
	 font-family:georgia;
	 background-color: #0B0000;
	 padding: .5em 0 .5em .5em;
	 background-repeat: repeat-x;
	 position:bottom;
 }

